* {
  margin: 0;
  padding: 0;
}
.about-wrap {
  width: 100%;
}
.about-slideShow {
  width: 100%;
  height: 520px;
  background: url("../../images/Z-aboutSlide.jpg") no-repeat 50% 0;
}
.about-section {
  padding-top: 60px;
  width: 960px;
  margin: auto;
}
.about-section h4 {
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #444;
  font-weight: bold;
}
.about-content {
  font-size: 16px;
  text-align: center;
  line-height: 2;
  color: #666;
  font-weight: lighter;
}
.about-img {
  width: 960px;
  height: 340px;
  padding: 30px 0;
  overflow: hidden;
}
.about-img img {
  width: 475px;
  height: 340px;
  margin-right: 10px;
  border-radius: 4px;
  float: left;
}
.about-img .about-img-us2 {
  margin-right: 0;
}
.about-better {
  position: relative;
  padding: 30px 0;
  width: 960px;
  height: 525px;
}
.about-betterImg {
  width: 100%;
  height: 100%;
}
.about-base {
  width: 720px;
  list-style: none;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -360px;
}
.about-base li {
  float: left;
  width: 106px;
  margin: 0px 37px;
  text-align: center;
  font-size: 14px;
  color: #888;
}
.about-base2 {
  position: absolute;
  width: 1000px;
  top: 330px;
  left: -20px;
  list-style: none;
}
.about-base2 li {
  float: left;
  width: 106px;
  margin: 0 47px;
  text-align: center;
  font-size: 14px;
  color: #888;
}
.about-base3 {
  top: 500px;
}
.about-banner {
  width: 100%;
  height: 480px;
  background: url("../../images/Z-banner.jpg") no-repeat;
  background-size: 100% 480px;
}
.about-environment {
  width: 960px;
  height: 233px;
  overflow: hidden;
}
.about-environment img {
  width: 310px;
  height: 233px;
  float: left;
  margin-right: 10px;
  border-radius: 4px;
}
.about-benefitContent {
  margin: 0 135px;
  width: 690px;
  height: 64px;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  color: #666;
  font-weight: lighter;
}
.about-lastBenefit {
  height: 64px;
  line-height: 64px;
  border: 1px soldi #000;
}
.about-benefit {
  width: 960px;
  height: 260px;
}
.about-benefit img {
  width: 960px;
  height: 185px;
}
.about-benedesc {
  width: 1000px;
  height: 60px;
  overflow: hidden;
  list-style: none;
  margin: 15px -20px 0;
}
.about-benedesc li {
  width: 130px;
  height: 60px;
  float: left;
  font-size: 14px;
  color: #888;
  margin: 0 35px;
  text-align: center;
  line-height: 20px;
}
.about-makers {
  width: 100%;
  height: 480px;
  border: 1px solid #000;
  background: url("../../images/Z-makers.jpg") no-repeat;
  background-size: 100% 480px;
  margin-top: 60px;
}
.about-join {
  width: 960px;
  height: 668px;
  margin: 20px auto;
  overflow: hidden;
}
.about-joinLeftVertical {
  float: left;
  width: 460px;
  margin-right: 20px;
  height: 645px;
}
.about-joinContent {
  width: 360px;
  height: 208px;
  position: relative;
  padding-left: 100px;
  margin-bottom: 30px;
}
.about-joinContent i {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid #74787c;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.about-editor {
  background: url("../../images/Z-add.png") no-repeat 0 0;
  background-size: 406px 250px;
}
.about-club {
  background: url("../../images/Z-add.png") no-repeat 0 -80px;
  background-size: 406px 250px;
}
.about-manager {
  background: url("../../images/Z-add.png") no-repeat 0 -160px;
  background-size: 406px 250px;
}
.about-media {
  background: url("../../images/Z-add.png") no-repeat -80px 0;
  background-size: 406px 250px;
}
.about-design {
  background: url("../../images/Z-add.png") no-repeat -80px -80px;
  background-size: 406px 250px;
}
.about-engineer {
  background: url("../../images/Z-add.png") no-repeat -80px -160px;
  background-size: 406px 250px;
}
.about-joinTitle {
  width: 360px;
  height: 14px;
  line-height: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 14px;
}
.about-joinTitle span {
  font-weight: lighter;
}
.about-joinDetail {
  width: 360px;
  height: 115px;
  font-size: 14px;
  color: #888;
  font-weight: lighter;
}
.about-joinJob {
  width: 960px;
  height: 32px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: #888;
  font-weight: lighter;
}
.about-map {
  width: 100%;
  height: 480px;
  background: url("../../images/Z-map.jpg") no-repeat;
  background-size: 100% 480px;
  margin-top: 60px;
}
.about-contact {
  width: 960px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  color: #444;
  text-align: center;
  margin: auto;
}
.about-end {
  padding-top: 60px;
}
.about-emailArea {
  width: 960px;
  margin: auto;
  overflow: hidden;
}
.about-add {
  width: 400px;
  height: 200px;
  float: left;
  margin: 60px 30px 30px;
}
.about-addTitle {
  width: 400px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
.about-addDesc {
  width: 400px;
  height: 27px;
  font-size: 16px;
  text-align: center;
  line-height: 27px;
  color: #999;
  font-weight: lighter;
}
.about-addImg {
  display: block;
  margin: auto;
  background: url("../../images/Z-add.png") no-repeat -160px 0;
  background-size: 406px 250px;
  width: 122px;
  height: 120px;
}
.about-business {
  display: block;
  margin: auto;
  background: url("../../images/Z-add.png") no-repeat -283px 0;
  background-size: 406px 250px;
  width: 122px;
  height: 120px;
}
.about-userFeedback {
  display: block;
  margin: auto;
  background: url("../../images/Z-add.png") no-repeat -160px -120px;
  background-size: 406px 250px;
  width: 122px;
  height: 120px;
}
.about-contribute {
  display: block;
  margin: auto;
  background: url("../../images/Z-add.png") no-repeat -283px -121px;
  background-size: 406px 250px;
  width: 122px;
  height: 120px;
}
