.save-slideWrap {
  width: 660px;
  height: 211.188px;
  border: 1px solid #f00;
  overflow: hidden;
  position: relative;
}
.save-slide {
  width: 3960px;
  height: 211.188px;
  position: absolute;
}
.save-slide img {
  width: 660px;
  height: 211.188px;
}
.save-circleWrap {
  width: 130px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -100px;
}
.save-circles {
  float: left;
  margin: 2px 0 2px 20px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.3);
}
.save-circles1 {
  width: 25px;
  height: 6px;
  background-color: #fff;
  float: left;
  position: absolute;
  top: 2px;
  z-index: 5;
  border-radius: 3px;
}
