*
  margin 0
  padding 0
.save-NavChoose
  width 220px
  margin-right 20px
  background-color orange
.save-navWrap
  width 100%
  height 40px
  line-height 40px
  background-color #444
  margin 0 0 20px 0
.save-hot
  position relative
.save-nav
  width 1100px
  height 40px
  margin 0 auto
.save-recommend
  display inline-block
  width 78px
  height 19px
  background url("../../images/Z-recommend.png") no-repeat
  background-position 0 0
  background-size 78px 19px
.save-hotImg
  display inline-block
  width 29px
  height 12px
  background url('../../images/Z-hotI.png') no-repeat
  background-position 0 0px
  background-size 29px 12px
  position absolute
  top 2px
  right 2px
.save-list
  display inline-block
  font-size 16px
  text-decoration none
  color white
  width 129px
  height 40px
  text-align center
  line-height 40px
  margin 0 20px 0 0
.save-recommendContent
  width 260px
  height 367px
  margin 0 20px 20px 0
  background-color white
  float left
.save-recommendWrap
  width 1120px
  border 1px solid black
  margin 10px auto 10px
  overflow hidden
.save-recommendDetail img
  width 260px
  height 260px
.save-detailTitle
  width 240px
  height 16px
  font-size 12px
  line-height 16px
  padding 10px 10px 0 0
  text-align center
  margin auto
.save-post
  width 28px
  height 16px
  background-color #FFA248
  color white
  margin-right 5px
.save-price
  width 240px
  height 17px
  margin auto
  color #999
  line-height 17px
  font-size 12px
  padding 15px 10px 0 0
  text-align center
.save-nowPrice
  width 100px
  height 17px
.save-ticket
  width 100px
  height 17px
  text-align center
  margin-left 80px
.save-ticketPrice
  color #FF2B22
  font-weight 500
.save-bigPrice
  font-size 32px
.save-ticketLogo
  width 47px
  height 19px
  display inline-block
  background url("../../images/Z-ticket.png") no-repeat
  background-size 47px 19px
.save-sellPrice
 display inline-block
.save-tianmao
  display inline-block
  width 50px
  height 25px
  line-height 25px
  color #999
  font-size 12px
  margin-left 100px
.save-tianmao img
  width 20px
  height 20px
  vertical-align middle
.save-typeWrap
  width 1100px
  height 380px
  margin 10px auto 40px
.save-typeLeft
  width 220px
  height 370px
  float left
  margin-top 5px
.save-typeDetail
  width 110px
  height 45px
  float left
  text-align center
  line-height 45px
  border-bottom 1px dashed #999
.save-typeBottom
  width 870px
  height 140px
  float left
  margin 10px 0 0 5px
.save-typeSlide img
  width 200px
  height 210px
.save-leftSlideImg
  width 870px
  height 210px
  float left
  margin 10px 0 0 5px
.save-leftSlideImg1
  width 660px
  height 210px
  float left
.save-leftImg img
  width 200px
  height 210px
.img
  float left
  width 145px
  height 210px
.img img
  width 114px
  height 114px
  margin auto
.img div
  text-align center
.save-girl
  width 260px
  height 367px
  float left
.save-girlTitle img
  width 260px
  height 260px
