.first-slideShow
  width 100%
  min-width 1030px
  height 340px
.first-slideShowImg
  width 1134px
  height 340px
  background url("../../images/Z-slideshow.jpg") no-repeat center
  background-size 1134px 340px
  position relative
  margin auto
.first-downloadApp
  border 1px solid greenyellow
  width 120px
  height 33px
  position absolute
  top 266px
  left 495px
body,html
  width 100%
  height 100%
.download-mask
  width 100%
  height 100%
  background-color black
  opacity 0.5
  position fixed
  z-index 5
  top 0px
  left 0px
.app-downloadCode
  width 720px
  height 410px
  background-color white
  opacity 1
  position absolute
  top 50%
  left 50%
  z-index 10
  margin-left -360px
  margin-top -205px
.mask-leftphone
  width 343px
  height 360px
  margin 50px 0px 0px 70px
  float left
.mask-phone
  width 100%
  height 100%
.mask-codeborder
  width 136px
  height 136px
  border 1px solid black
  position absolute
  top 86px
  right 92px
