*
 padding 0
 margin 0
html,body
  width 100%
  height 100%
  background-color #F5F5F5
  //border 1px solid black
.left
  float left
.right
  float right
.clear
  content ''
  display table
  clear both
.font-size
  font-size 14px
.out
  min-width 1200px
  border 1px solid white
  height 60px
  background-color #FFFFFF
.inside
  min-width 95%
  margin 15px auto
  //border 1px solid black

.display-a
  text-decoration none
  color #686868
  font-weight 100
  display inline-block
  margin 5px 30px 0 0
.color
  color #4D7475
  margin-top 5px
.display
  padding 5px 40px
  text-decoration none
  color white
  border-radius 17px
  font-weight 100
  background-color #EE6A60
.bg-article-s
  position relative
  width 850px
  height 635px
  //text-align center
  margin 20px auto
  background-color #fff
  //border 1px solid black
.article-title-s
  margin-top 10px
  outline none
  width 580px
  height 75px
  font-size 30px
  border none
  color #BEBEBE
  //border 1px solid black
.line-s-lightgray
  position absolute
  left 16%
  top 13.5%
  display inline-block
  height 1px
  width 580px
  background-color lightgray
.article-s
  margin-left 135px
.file
  margin-top 20px
  width 100px
  opacity 0
  position absolute
  left 16%
  top 13.5%
  z-index 2
.file-pic
  padding-left 25px
  background url("../../images/pic-s.png") no-repeat
  background-size 20px 20px
  position absolute
  left 16%
  top 16.5%
  z-index 1
  color #BEBEBE
  font-weight 100
.product-s
  padding-left 25px
  background url("../../images/connet-s.png") no-repeat
  background-size 18px 15px
  position absolute
  left 27%
  top 16.5%
  color #BEBEBE
  font-weight 100
.register-position-s
  position absolute
  left 50%
  top 50%
  margin-top -290px
  margin-left -210px
  z-index 5
  display none

.mask-s
  text-align right
  position absolute
  width 100%
  height 100%
  background-color #000
  opacity 0.7
  z-index 4
  display none
.X
  color #fff
  font-size 30px
  margin 50px 40px 0 0
.text-s
  border none
  resize none
  outline none
  position absolute
  left 15%
  top 20%
.click-me
  width 86px
  height 103px
  //border 1px solid black

.click-me-s
  position fixed
  right 0
  top 50%
  margin-top -51.5px
  z-index 6
.brand-s
  width 105px
  height 35px
  border-radius 20px
  font-size 15px
  padding-left 10px
  outline none
  border 1px solid lightgray
  font-weight 200
  margin-left -20px
.add-product
  width 100%
  height 100%
  position fixed
  border 1px solid black
  left 0
  top 0
  background-color #fff
  z-index 5
  display none
.brand-name-s
  width 250px
  height 35px
  border-radius 20px
  font-size 15px
  padding-left 15px
  outline none
  border 1px solid lightgray
  font-weight 200
  margin-left 8px
.add-product-out
  width 420px
  height 540px
  //border 1px solid black
  margin auto
  text-align center
.add-product-out-s
  //text-align center
  margin 50px auto
  width 100px
  height 40px
  border-bottom 1px solid lightgray
.brand-out
  //margin auto
  width 450px
.product-list-s
  margin-top 10px
  overflow auto
  width 420px
  height 336px
  //border 1px solid black
.product-pic-s
  width 42px
  height 42px
  margin-left 20px
  margin-top 5px
  margin-bottom 5px
.product-description-s
  text-align left
  color #999
  width 280px
  font-size 14px
  padding 10px
  margin-top 5px
  margin-bottom 5px
.product-description-out-s
  width 450px
  height 35px
  background-color #F4F4F4
  border-radius 25px
  margin-left 10px
  margin-top 5px
.footer-all-s
  text-align center
  position fixed
  left 0
  bottom 0
  width 100%
  //border: 1px solid black
.footer-all-s>a:first-child
  text-decoration none
  color #999
  font-weight 100
  display inline-block
  padding 4px 49px
  border-radius 25px
  font-size 14px
  background-color #F5F5F5
.footer-all-s>a:last-child
  text-decoration none
  color #fff
  font-weight 100
  background-color #DF635A
  display inline-block
  padding 4px 49px
  border-radius 25px
  font-size 14px
  margin-left 15px
.add-pic-s
  width: 68px
  height: 68px
  vertical-align middle
.arr-all-d-s
  position relative
  //text-align center
  //background-color lightgray
  width: 350px
  margin 10px auto
  border: 1px solid lightgray
.remove-X-s
  position absolute
  right 5px
  top 5px
  //z-index 7
.hidden-div
  width 100%
  height 50px

