.bg-register-s
  width 420px
  height 160px
  background url("../../images/download_z.jpg") no-repeat center
  background-size 420px 160px
.register-s
  margin-top 40px
  width 420px
  height 40px
  text-align center
.register-input-s
  width 280px
  height 40px
  margin 20px
  border-radius 20px
  outline none
  border 1px solid lightgray
.out-s
  border-radius 2px solid width