.bg-register-s
  width 420px
  height 160px
  background url("../../images/download_z.jpg") no-repeat center
  background-size 420px 160px
.register-s
  margin-top 50px
  width 420px
  //height 40px
  text-align center
  //border 1px solid black
.register-input-s
  width 260px
  height 35px
  margin 10px
  border-radius 20px
  padding-left 20px
  outline none
  border 1px solid lightgray
.out-s
  width 420px
  border-radius 2px solid width
  border 1px solid black
  border-radius 3px
.register-submit-s
  width 280px
  height 35px
  margin 10px
  border-radius 20px
  outline none
  //border 1px solid lightgray
  border none
  background-color #EE6A60
  color: #fff
  font-size 18px
  font-weight 100
  //padding-left 10px
.register-submit-s:hover
  background-color #EE7870
.register-user-s
  font-size 12px
  color #81AADC
  font-weight 100
  cursor pointer
.register-mobile-style
  color: #EE7870
  font-size 14px
  font-weight 100
.code-s
  height 35px
  border-radius 20px
  border 1px solid lightgray
  outline none
  padding-left 20px
  margin-right 33px
.code-get-s
  height 35px
  border-radius 20px
  outline none
  border none
  color #919191
  padding 10px 20px 30px 20px
  background-color #F5F5F5
.line
  margin 11px 25px 0 25px
  width 55px
  //display inline-block
  height 1px
  background-color lightgray
.comm-s
  margin-top 25px
  margin-left 50px
.img-s
  width: 30px
  height 30px
.img-weibo-s
  background url("../../images/微博-s.png") no-repeat
  background-size 25px 25px
  margin-left 13px
.img-wechat-s
  background url("../../images/QQ (1)-s.png") no-repeat
  background-size 25px 25px
  margin-left 13px
.mg-weibo-s-out
  width 50px
  //border 1px solid black
.img-wechat-s-out
  width 50px
  //border 1px solid black
.weibo-s
  font-size 14px
  margin-top -20px
  color #919191
.qq-s
  font-size 14px
  margin-top -20px
  color #919191
.mg-weibo-s-out:hover .img-weibo-s
  background url("../../images/微博 (1)-s.png") no-repeat
  background-size 25px 25px
  margin-left 13px
.img-wechat-s-out:hover .img-wechat-s
  background url("../../images/QQ-s.png") no-repeat
  background-size 25px 25px
  margin-left 13px
.img-s-out
  width 200px
  margin-left 110px
  margin-bottom 5px