//发现部分
//头部
body, html
  margin 0
  padding 0
  height 100%
  font-size 14px
  color #666

.wrap
  width 100%
  height 100%
.hover
  width 10000px
  height 10000px
  background-color black
  opacity 0.4
  position fixed
  left 0
  top 0
  z-index 99


.header
  width 100%
  height 60px
  //border: 1px solid black
  min-width 1034px
  max-height 1440px

.header_nav
  height 44px
  float left
  margin-left 10.5%


.header_nav ul
  list-style none

.header_nav ul li
  height 44px
  float left

.logo
  width 47px
  height 24px
  background url('../../images/logo.png') 0 -23px no-repeat
  background-size 47px 47px
  margin-right 36px

.header_nav_li
  height 28px
  margin 5px 35px 0 0
  position relative

.header_nav_li a
  display inline-block
  text-decoration none
  color #777777


.header_nav_li a:hover
  border-bottom 2px solid red
  color black

i
  background url("../../images/new.png") no-repeat
  background-size 35px 35px
  width 35px
  height 35px
  position absolute
  bottom 25px
  right -30px
  font-weight lighter

.header_right
  width 330px
  height 30px
  float right
  margin-right 12%

.fangD
  width 200px
  height 30px
  float left
  margin-top 14px
  position relative

.fangD a
  background url('../../images/fangda.png') no-repeat
  width 16px
  height 16px
  background-size 16px 16px
  position absolute
  left 10px
  top 10px


.fangD_input
  width 200px
  height 30px
  border-radius 25px
  outline none
  border 1px solid #B6B4B6
  text-indent 3em

.login
  width 100px
  height 30px
  float: right

  .login_button
    width 100px
    height 30px
    background-color  #FD6363
    color white
    border-radius 25px
    outline none
    border 1px solid  #FD6363
    margin-top 14px

