//发现部分
//头部
body, html
  margin 0
  padding 0
  height 100%
  font-size 14px
  color #666

.wrap
  width 100%
  position relative

.hover
  width 100%
  height 100%
  background-color black
  opacity 0.5
  position fixed
  left 0
  top 0
  z-index 99

.register
  width 420px
  position fixed
  left 50%
  top 50%
  margin-left -210px
  margin-top -290px
  z-index 1000

.header
  width 100%
  height 60px
  position fixed
  top 0
  left 0
  background white
  z-index 98
  min-width 1034px
  max-height 1440px

.header_nav
  height 44px
  float left
  margin-left 10.5%
  margin-top 15px

.logo
  width 47px
  height 24px
  background url('../../images/logo.png') 0 -23px no-repeat
  background-size 47px 47px
  margin-right 36px
  float left

.header_nav_li
  height 28px
  margin 5px 35px 0 0
  position relative
  float left


.header_nav_li a
  display inline-block
  text-decoration none
  color #777777

.header_nav_li a:hover
  color black

.header_line
  width 0
  height 2px
  background-color red
  margin-left 45%
  margin-top 5px
  transition all 0.3s ease-in


.header_nav_li:hover .header_line
  width 28px
  margin-left 0

.header_nav_li:hover .tree_line
  width 40px
  margin-left 0

i
  background url("../../images/new.png") no-repeat
  background-size 35px 35px
  width 35px
  height 35px
  position absolute
  bottom 5px
  right -36px
  font-weight lighter

.header_right
  float right
  margin-right 9%
  position relative

.fangD
  height 30px
  position relative
  right 150px
  top 15px

.fangD a
  background url('../../images/fangda.png') no-repeat
  width 16px
  height 16px
  background-size 16px 16px
  position absolute
  left 10px
  top 7px

.fangD_input
  width 100%
  height 26px
  border-radius 25px
  outline none
  border 1px solid #B6B4B6
  text-indent 3em
  transition all 1s

.login
  width 100px
  height 30px
  position absolute
  right 0
  top 0

.login_button
  width 100px
  height 30px
  background-color #FD6363
  color white
  border-radius 25px
  outline none
  border 1px solid #FD6363
  margin-top 14px

.main
  width 960px
  margin 100px auto

.main:after
  content ""
  display block
  clear both
  visibility hidden

.main_left
  width 160px
  float left
.myImg
  position fixed
  right 0
  bottom 270px
.main_left ul
  list-style none
  position fixed

.main_left ul li
  width 160px
  height 50px
  border-bottom 1px dashed #DADADA
  text-align center
  line-height 50px
  font-size 14px
  color #818181

.main_left ul li a
  text-decoration none
  color #818181

.main_right
  width 780px
  margin-left 180px
  float left

.article
  width 770px
  height 126px
  margin-bottom 30px

.article_img
  width 230px
  height 126px
  float left
  overflow hidden

.article_img img
  width 230px
  height 230px

.article_box
  width 500px
  height 126px
  float right

.article_title
  height 28px
  overflow hidden
  font-size 18px
  font-weight 700
  color: #444

.article_title:hover
  color red

.article_desc
  padding-top 6px
  max-height 48px
  line-height 24px
  overflow hidden
  color #999

.article_small
  width 500px
  height 18px
  margin-top 40px
  position relative
  color: #d8d8d8

.article_views
  font-size 12px
  position absolute
  right 140px

.article_likes
  font-size 12px
  position absolute
  right 70px

.article_views img, .article_likes img
  width 16px
  height 16px
  position absolute
  bottom 0

.article_views span, .article_likes span
  position absolute
  bottom 0
  left 22px
  font-size 12px

.share
  width 230px
  border 1px solid #F7F7F7
  float left
  margin 0 5px 10px 5px
  padding 9px
  color: black
  font-size 14px
  overflow hidden

.share:hover
  transform scale(1.02)
  transition all 0.5s
  box-shadow 0 5px 5px #DADADA

.share_img
  width 230px
  height 230px
  overflow hidden


.share_img img
  width 100%
.share_main
  width 100%
.share_user
  width 100%
  height 46px
.share_rad
  width 36px
  height 36px
  border-radius 50%
  border 1px solid #F4F4F4
  float left
.share_nickname
  width 104px
  height 36px
  float left
  margin-top 8px
  margin-left 10px

.share_span
  display inline-block
  height 36px
  margin-top 8px
  margin-left 20px
  position relative

.share_span img
  width 16px
  height 14px
  position absolute
  left 0

.share_span span
  position absolute
  left  20px
  top -3px

.share_title
  width 230px
  height 72px
  line-height 24px
  overflow hidden
  text-overflow ellipsis
  white-space normal
  color #666666
.bottom
  width 100%
  margin-top 100px

.my
  width 100px
  height 100px
  background-color red

