body,html
  padding 0
  margin 0
  height 100%

.myWrap
  width 100%

.search_box
  width 995px
  margin 100px auto

.search_result
  width 100%
  height 60px
  color #666666
  font-size 12px

.search_menu
  width 100%
  height 60px
  border-top  1px solid #F8F8F8

.search_menu:after
  content ""
  display block
  clear both
  visibility hidden

.search_menu_left
  width 50%
  height 60px
  float left
  cursor pointer


.search_menu_right
  width 50%
  height 60px
  position absolute
  right 0
  cursor pointer

.search_menu_right_new
  width 50%
  height 60px
  position absolute
  right 0
  display none
  cursor pointer


.search_menu_left_div
  float left
  width 52px
  height 60px
  padding-top 15px
  margin-right 60px
  color #7D7D7D


.search_menu_left_div:hover
  border-top 2px solid red

.search_menu_left_div:nth-child(1)
  border-top 2px solid orange
  color: black

.search_menu_left_div:after
  content ""
  display block
  clear both
  visibility hidden



.every_box
  width 220px
  margin 10px 23px 23px 0
  float left
  color black
  font-size 14px
  position relative

.search_box:after
  content ""
  display block
  clear both
  visibility hidden

.every_img
  width 220px
  height 220px

.every_p
  width 220px
  height 34px
  text-align center




.share_req
  width 220px
  height 20px
  font-size 12px
  margin auto

.every_price
  width 110px
  height 20px
  font-weight bolder
  float left
  text-align right

.share_req img
  width 16px
  height 16px
  float left
  margin-left 10px

.share_req span
  float left
  margin-left 10px

.search_main
  width 1100px
  overflow hidden
.search_title_area
  width 300px
  height 238px
  float left
  margin 0 25px 22px 0

.search_title_img
  width 300px
  height 165px
  overflow hidden
.search_title_img img
  width 300px
  height 165px
.search_title_img img:hover
  transform scale(1.2)
  transition all 1s
.search_title_content
  font-size 1.2em
  width 300px
  height 33px
  margin 5px 0 5px 0

.share_rad_search
  width 24px
  height 24px
  float left

.share_nickname_search
  float left
  margin-left 20px
.share_span_search
  float right
  margin-top 10px
  margin-right 20px
  position relative

.share_span_search img
  position absolute
  right 40px
  bottom -10px
  width 14px
  height 13px

.share_span_search span
  position absolute
  right  0
  bottom -13px
  font-size 12px

.share_rad_search img
  width 24px
  height 24px
  border-radius 50%

.share_
  width 220px
  height 308px
  float left
  margin 0 23px 23px 0

.share_img_
  width 220px
  height 220px
  overflow hidden
.share_img_ img
  width 220px
  height 220px

.share_img_ img:hover
  transform scale(1.2)
  transition all 1s

.share_title_
  width 220px
  height 50px
  font-size 12px
  overflow hidden
.share_rad_
  width 24px
  height 24px
  border-radius 50%
  float left
  margin-top 5px

.paiH
  float left
  margin-left 40px
  margin-top 15px
.paiH:hover
  color red