.Tran
  width 600px
  height 300px
  overflow hidden
  border 1px solid black
  position relative
.Tran_box
  width 3600px
  height 300px
  position absolute
  top 0

.Tran_img img
  width 600px
  height 300px
  float left